actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: http://basic/localhost/
            browser: firefox
        - Yii2:
            part: orm
            entryScript: index-test.php
            cleanup: false
